{% extends "siteframe.html" %}
{% load i18n %}

{% block body %}
    -
    <br>
<form method="post" action=".">{% csrf_token %}
  {{ form.as_p }}

  <input type="submit" value="{% trans 'Log in' %}" />
  <input type="hidden" name="next" value="{{ next }}" />
</form>

{#<p>{% trans "Forgot password" %}? <a href="{% url "Users:password_reset" %}"#}
{#>{% trans "Reset it" %}</a>!</p>#}
<p>{% trans "Register New Account" %}? <a href="{% url "register" %}"
>{% trans "Register" %}</a>!</p>
{% endblock %}