{% extends "siteframe.html" %}
{% load i18n %}

{% block body %}
    -
    <br>
<form method="post" action=".">{% csrf_token %}
  {{ form.as_p }}

  <input type="submit" value="{% trans 'Submit' %}" />
</form>
{% endblock %}