{% extends 'siteframe.html' %}

{% block header %}Showing <strong> Ideas </strong> for: <strong> All Ventures</strong>
        -  - <a href="{% url "create_venture" %}">Add New Venture</a>
{% endblock%}

{% block body %}
    -
    <br>
    <br>
    <ul style="PADDING-LEFT: 60px">

    {% for idea in view.ideas_list %}
    <li style="PADDING-TOP: 5px"><a href="{% url "edit_item" idea.venture.pk idea.pk %}"> {{ idea.name }}</a>
        for {{ idea.venture }}</li>
    {% endfor %}
    </ul>



    <br>
    <br>
    <br>
{% endblock %}