{% extends 'siteframe.html' %}

{% block header %}Showing <strong> Needs </strong> for: <strong> All Ventures</strong>
        -  - <a href="{% url "create_venture" %}">Add New Venture</a>
{% endblock%}

{% block body %}

    <div class="colmask threecol">
        <div class="colmid">
            <div class="colleft">
                <div class="col1">
                    <!-- Column 1 start -->
                    <h2>General</h2>
                    <ul>
                    {% for need in view.needs_list %}
                <li style="PADDING-TOP: 5px"><a href='
                {% url "edit_item" need.venture.id need.id %}'> {{ need.name }}</a>
                 for
                 {{ need.venture }}
                    {% if need.estimated_hours_to_completion > 0 %}
                    ({{ need.estimated_hours_to_completion }} Hours)
                    {% endif %}
                </li>
            {% endfor %}

                    <!-- Column 1 end -->
                </div>
                <div class="col2">
                    <!-- Column 2 start -->
                    <h2>Urgent</h2>
                    <ul>
            {% for need in view.urgent_needs_list %}
                <li style="PADDING-TOP: 5px"><a href='
                {% url "edit_item" need.venture.id need.id %}'> {{ need.name }}</a>
                 for
                 {{ need.venture }}
                    {% if need.estimated_hours_to_completion > 0 %}
                    ({{ need.estimated_hours_to_completion }} Hours)
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
        </div>
                <div class="col3">
                    <!-- Column 3 start -->
                    <h2>Awaiting Response</h2>
            <ul>
            {% for need in view.awaiting_response_list %}
                <li style="PADDING-TOP: 5px"><a href='
                {% url "edit_item" need.venture.id need.id %}'> {{ need.name }}</a>
                 for
                 {{ need.venture }}
                    {% if need.estimated_hours_to_completion > 0 %}
                    ({{ need.estimated_hours_to_completion }} Hours)
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
        </div>
                <div class="col3">
                    <!-- Column 3 end -->
                </div>
            </div>
        </div>
    </div>

    <br>
    <br>
    <br>
{% endblock %}