{% extends 'siteframe.html' %}

{% block header %}Showing <strong> Projects </strong> for: <strong> All Ventures</strong>
        -  - <a href="{% url "create_venture" %}">Add New Venture</a>
{% endblock%}

{% block body %}
    -
    <br>
    <br>
    <ul style="PADDING-LEFT: 60px">
    {% for project in view.projects_list %}
        <li style="PADDING-TOP: 5px"><a href="{% url "edit_item" project.venture.pk project.pk %}">
        {{ project.name }}</a> for {{ project.venture }}
    {% endfor %}

    </ul>


    <br>
    <br>
    <br>
{% endblock %}