<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Kick</title>
</head>
<body>
    <form method="post">
        {% csrf_token %}
        {{ form }}
    <input type="submit" value="Submit" />
    </form>
</body>
</html>