<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form style="PADDING-LEFT: 20px" action="" method="post">{% csrf_token %}
<h3>Please Input Item Information:</h3>
    {{ form.as_p }}
    <input type="submit" value="Save" />
    <br>
    <br>
    </form>
    <br>
    <br>
    <a href='{% url "awaiting_response" need.venture.id need.id %}'>Awaiting Response?</a>
</body>
</html>