<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form style="PADDING-LEFT: 20px" action="" method="post">{% csrf_token %}
<h3>Please Input Item Information:</h3>
    {{ form.as_p }}
    <input type="submit" value="Save" />
</body>
</html>