{% load staticfiles %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-GB">
<head>
	<title>FocusFirst</title>
	<meta http-equiv="Content-Type" content="application/xhtml+xml; charset=utf-8" />
	<meta name="description" content="The Perfect 3 Column Liquid Layout: No CSS hacks. SEO friendly. iPhone compatible." />
	<meta name="keywords" content="The Perfect 3 Column Liquid Layout: No CSS hacks. SEO friendly. iPhone compatible." />
	<meta name="robots" content="index, follow" />
	<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
	<link rel="stylesheet" type="text/css" href="{% static "screen.css" %}" media="screen" />
</head>
<body>

<div id="header">
	<h1>FocusFirst Prioritization System by Adam Starrh</h1>
	<ul>
		<li><a href="{% url "all_needs" %}">All Ventures <span>Needs</span></a></li>
		<li><a href="{% url "all_projects" %}">All Ventures<span>Projects</span></a></li>
        <li><a href="{% url "all_ideas" %}">All Ventures <span>Ideas</span></a></li>
		{% for venture in view.ventures_list %}
            <li><a href="{% url "venture_view" venture.id %}">{{ venture }}<span>All
                Items</span></a></li>
        {% endfor %}

	</ul>

    	<p id="layoutdims">
            {% block header %}{% endblock %} -- <a href="{% url "Users:logout" %}">Log Out</a>
        </p>
</div>
    {% block body %}{% endblock %}
<div id="footer">
	<p>This page uses the <a href="http://matthewjamestaylor.com/blog/perfect-3-column.htm">Perfect 'Holy Grail' 3 Column Liquid Layout</a> by <a href="http://matthewjamestaylor.com">Matthew James Taylor</a>. View more <a href="http://matthewjamestaylor.com/blog/-website-layouts">website layouts</a> and <a href="http://matthewjamestaylor.com/blog/-web-design">web design articles</a>.</p>
</div>
</body>
{% block extra_js %}{% endblock %}
</html>