{% extends 'siteframe.html' %}
{% load staticfiles %}

{% block header %}Showing <strong> All Items </strong> for: <strong> {{ view.venture.name }}
</strong> -  - <a href="{% url "create_venture" %}">Add New Venture</a>
{% endblock%}

{% block body %}
<div class="colmask threecol">
	<div class="colmid">
		<div class="colleft">
			<div class="col1">
				<!-- Column 1 start -->
				<h2>Projects</h2>
				<ul>
                {% for project in view.projects_list %}
                    <li><a href="{% url "edit_item" project.venture.pk project.pk %}">
                        {{ project.name }}</a></li>
                    <br>
                {% endfor %}
                </ul>
                <a href="{% url 'create_project' pk %}">+ Add</a>
                <!-- Column 1 end -->
			</div>
			<div class="col2">
				<!-- Column 2 start -->
				<h2>Needs</h2>
                <ul>
                {% for need in view.needs_list %}
                    <li><a href='{% url "edit_item" need.venture.id need.id %}'>
                        {{ need.name }}</a>
                        {% if need.estimated_hours_to_completion > 0 %}
                         ({{ need.estimated_hours_to_completion }} Hours)
                        {% endif %}
                    </li>
                    <br>
                {% endfor %}
                </ul>
                <a href="{% url 'create_need' pk %}">+ Add</a>
                <!-- Column 2 end -->
			</div>
			<div class="col3">
				<!-- Column 3 start -->
				<h2>Ideas</h2>
            <ul>
                {% for idea in view.ideas_list %}
                    <li><a href="{% url "edit_item" idea.venture.pk idea.pk %}"> {{ idea.name }}</a></li>
                    <br>
                {% endfor %}
            </ul>
                <a href ="{% url 'create_idea' pk %}">+ Add</a>
                <!-- Column 3 end -->
			</div>
		</div>
	</div>
</div>
{% endblock %}

{% block extra_js%}
    <script src="http://malsup.github.com/jquery.form.js"></script>
    <script src="{% static 'create_item.js' %}"></script>
{% endblock %}