{% extends 'siteframe.html' %}

{% block header %} Creating New Venture... {% endblock %}

{% block body %}
    -
<form style="PADDING-LEFT: 20px" action="" method="post">{% csrf_token %}
<h3>Please Input Venture Information:</h3>
    {{ form.as_p }}
    <input type="submit" value="Create" />
<br>
<br>
</form>
{% endblock %}